/* You can add global styles to this file, and also import other style files */
body{

    // font-family: 'Segoe UI', Tahoma, sans-serif;
    font-family:'Montserrat', sans-serif !important;
    background: linear-gradient(170deg, black,black, black,#1F1B1B);
    padding: 0;
    overflow: hidden;
}