/* payment-form.component.css */
.main{

  justify-items: center;
  display: flex;
  padding-top: 2rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
  height: 100%;
}

.main::-webkit-scrollbar{
  display: none;
}

.payment-form {
    
    font-family: Arial, sans-serif;
    width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 30px;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  
  .tab.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .form-content {
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  .qr-img{
      margin-top: 25px;
      margin-left: 25px;
  }

  .form-content h5{
    text-align: center;
    
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }